# fly.toml app configuration file generated for linear-enhancer on 2026-01-01T15:29:27-08:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'linear-enhancer'
primary_region = 'iad'

[build]

[env]
  DOCS_DIR = '/data'
  INTERNAL_DOMAINS = 'trelent.com,trelent.net'

[[mounts]]
  source = 'linear_data'
  destination = '/data'

[http_service]
  internal_port = 8000
  force_https = true
  auto_stop_machines = 'off'
  auto_start_machines = true
  min_machines_running = 1

[[vm]]
  memory = '1gb'
  cpus = 1
  memory_mb = 1024
